<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>

    <add key="TimerMonitorInterval" value="10000"/>
    <add key="TimerResetQueueInterval" value="600000"/>

    <add key="InstalledServices" value="AdobeARMservice,SQLWriter,MSSQL$SQLEXPRESS"/>
    
  </appSettings>
</configuration>